.card-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@media only screen and (min-width: 768px) {
  .css-ink19s > section {
    width: 16.6666%;
  }
  .css-1fver6g {
    overflow: hidden !important;
  }
}
